@font-face {
  font-family: 'Ananda';
  src: url(../Fonts/Ananda.ttf);
}

@font-face {
  font-family: 'Copperlate';
  src: url(../Fonts/Copperplate.otf);
}

@font-face {
  font-family: 'Monaco';
  src: url(../Fonts/Monaco.ttf);
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Monaco';
}

.row {
  margin: 0;
  height: 100%;
}

hr {
  width: 100%;
  height: 5px;
  background: #0099ff;
  margin: 3rem 0;
}

h3 {
  font-family: 'Copperlate';
}

p,
a {
  font-size: .8rem;
}

/* HEADER */

.navbar {
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.navbar button:focus {
  outline: 0;
}

.navbar a.nav-link {
  font-family: 'Ananda';
  color: #ad0af9 !important;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar a.active {
  color: #fff !important;
}

.navbar.active {
  background: rgb(73, 72, 210) !important;
}

.collapse.show {
  background: rgb(73, 72, 210);
}

.collapse.show .nav-link {
  color: #ffffff;
}

.navbar-toggler {
  border: none;
}

/* Icon */
#hamburger-icon {
  width: 30px;
  height: 25px;
  position: relative;
  display: block;
}

#hamburger-icon .line {
  display: block;
  background: #ecf0f1;
  width: 30px;
  height: 5px;
  position: absolute;
  left: 0;
  border-radius: 4px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

#hamburger-icon .line.line-1 {
  top: 0;
}

#hamburger-icon .line.line-2 {
  top: 40%;
}

#hamburger-icon .line.line-3 {
  bottom: 0;
}

#hamburger-icon.active .line-1 {
  transform: translateY(10px) translateX(0) rotate(45deg);
  -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
  -moz-transform: translateY(10px) translateX(0) rotate(45deg);
  -ms-transform: translateY(10px) translateX(0) rotate(45deg);
  -o-transform: translateY(10px) translateX(0) rotate(45deg);
}

#hamburger-icon.active .line-2 {
  opacity: 0;
}

#hamburger-icon.active .line-3 {
  transform: translateY(-10px) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
  -moz-transform: translateY(-10px) translateX(0) rotate(-45deg);
  -ms-transform: translateY(-10px) translateX(0) rotate(-45deg);
  -o-transform: translateY(-10px) translateX(0) rotate(-45deg);
}

/* HOME */
.home {
  height: 100vh;
  background: #ad0af9 !important;
}

.home .agendar {
  color: black;
  padding: .5rem 1rem;
  background: #faf081;
  border-radius: 30px;
  font-size: .7em;
  display: inline-block;
  margin-left: 4rem;
}

.home h2 {
  font-size: 3rem;
}

.home h4 {
  font-size: 2.3rem;
}

.home p {
  font-size: 1.3rem;
}

.home .carousel,
.home .carousel .carousel-inner {
  height: 100%;
}

.home .carousel-item {
  position: relative;
  height: 100%;
  color: #ffffff;
}

.home .carousel-item h2,
.home .carousel-item p:nth-of-type(1) {
  font-family: 'Copperlate';
}


.home .carousel-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.titulos {
  margin: 0;
  padding: 1em 1.5em;
  font-family: 'Copperlate';
  font-size: 1.9rem;
  line-height: 30px;
}


.titulo-servicios {
  background: #ffccff;
  color: #3433cd;
}

.titulo-about {
  background: #4948d2;
  color: #ffffff;
}

.titulo-convenios {
  background: #f2ed85;
  color: #ac0bf5;
}

.titulo-contacto {
  background: #92d3f9;
  color: #3531ce;
}

/* Servicios */

.servicios>.row,
.about>.row,
.convenios>.row {
  padding: 3rem;
}

.subtitulo {
  color: #5759d4;
  text-transform: uppercase;
  font-family: 'Copperlate';
  font-size: 1rem;
}

.servicios a {
  color: #ac0bf7;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.servicios img {
  width: 100%;
  height: 200px;
}

.servicios .col-lg-4 {
  padding: 24px;
}

/* About */

.about h3 {
  font-size: 1.3rem;
}

/* Contacto */

#contacto {
  background: #ffd4ff;
}

#contacto>.row {
  padding: 2em;
}

#contacto h3 {
  color: #ad0cfa;
  font-size: 1.3rem;
}

#contacto p {
  margin-bottom: 0;
}

/* Footer */

footer {
  background: #b2e1fb;
  padding: 0 3rem;
}

footer p {
  margin-bottom: 0;
}

footer label {
  font: .8rem;
}

footer .redes img {
  width: 60px;
}

footer .btn {
  font-size: .8rem;
  width: 100px;
}


/* Responsive */

@media(max-width:991px) {

  .navbar a.nav-link {
    color: #fff !important;
  }

  .servicios>.row,
  .about>.row,
  #contacto>.row {
    padding: 1rem;
  }

  .titulos {
    font-size: 1.6rem;
  }

  #contacto h3,
  .about h3 {
    font-size: 1.2rem;
  }
}

@media (max-width:767px) {

  .home .carousel-item {
    position: relative;
    height: 100%;
    color: #ffffff;
  }

  .home .carousel-item .item-prueba {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .home .carousel-item .item-prueba h2 {
    font-size: 1rem;
  }

  .home .carousel-item .row {
    height: auto;
    position: absolute;
  }

  .home {
    padding: .5rem 0;
  }

  .home .carousel-item img {
    position: relative;
    height: auto;
  }

  .home h2 {
    font-size: 2rem;
  }

  .home h4 {
    font-size: 1rem;
  }

  .home p {
    font-size: .8rem;
  }


}

@media (max-width:576px) {
  .home .carousel-item img {
    position: relative;
    height: 250px;
    /* margin-top: 6rem; */
  }

  .home {
    height: 80vh;
  }

  .carousel-indicators {
    bottom: 5px;
  }
}